In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

## Load Dataset

In [2]:
anime = pd.read_csv('anime.csv')
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

## Data Understanding

In [3]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [4]:
anime = anime.iloc[:, :4]
anime.head()

,anime_id,name,genre,type
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV

## Handling Missing Values

In [5]:
anime.isna().sum()

anime_id     0
name         0
genre       62
type        25
dtype: int64

In [6]:
anime = anime.dropna()
anime

,anime_id,name,genre,type
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV
...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA
12290,5543,Under World,Hentai,OVA
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie

## Modelling by Genre

In [7]:
cv = CountVectorizer(tokenizer=lambda x:x.split(', ')) # text processing agar memisahkan nama genre yang tepat
by_genre = cv.fit_transform(anime['genre'])

In [8]:
print(len(cv.get_feature_names()))
print(cv.get_feature_names())

43
['action', 'adventure', 'cars', 'comedy', 'dementia', 'demons', 'drama', 'ecchi', 'fantasy', 'game', 'harem', 'hentai', 'historical', 'horror', 'josei', 'kids', 'magic', 'martial arts', 'mecha', 'military', 'music', 'mystery', 'parody', 'police', 'psychological', 'romance', 'samurai', 'school', 'sci-fi', 'seinen', 'shoujo', 'shoujo ai', 'shounen', 'shounen ai', 'slice of life', 'space', 'sports', 'super power', 'supernatural', 'thriller', 'vampire', 'yaoi', 'yuri']

In [9]:
pd.DataFrame(by_genre.toarray())

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12209,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
coScore_anime = cosine_similarity(by_genre)

In [11]:
pd.DataFrame(coScore_anime)

,0,1,2,3,4,5,6,7,8,9,...,12200,12201,12202,12203,12204,12205,12206,12207,12208,12209
0,1.000000,0.188982,0.000000,0.000000,0.000000,0.447214,0.000000,0.250000,0.000000,0.000000,...,0.0,0.288675,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.188982,1.000000,0.285714,0.000000,0.285714,0.338062,0.566947,0.377964,0.285714,0.285714,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.285714,1.000000,0.267261,1.000000,0.338062,0.377964,0.188982,1.000000,1.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.267261,1.000000,0.267261,0.000000,0.000000,0.353553,0.267261,0.267261,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.285714,1.000000,0.267261,1.000000,0.338062,0.377964,0.188982,1.000000,1.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12206,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12207,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12208,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12209,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [12]:
anime1 = anime.reset_index()
anime1

,index,anime_id,name,genre,type
0,0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV
...,...,...,...,...,...
12205,12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA
12206,12290,5543,Under World,Hentai,OVA
12207,12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA
12208,12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA
12209,12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie

In [13]:
anime_liked = input('Apa anime yang anda sukai? ')

index_suka = anime1[anime1['name']==anime_liked].index
index_suka[0]

anime_recom = list(enumerate(coScore_anime[index_suka[0]]))

your_recom = sorted(anime_recom, key = lambda x: x[1], reverse=True)

# Showing 5 recommended music based on the input music
recom = []
for i in your_recom[1:11]:
    recom.append(anime1.iloc[i[0],0])

print('Special Pick For You!')
for i in range(len(recom)):
    print('{}. {}, (Genre : {})'.format(1+i, anime1.iloc[recom[i], 2],anime1.iloc[recom[i], 3] ))

Apa anime yang anda sukai? Naruto
Special Pick For You!
1. Naruto: Shippuuden, (Genre : Action, Comedy, Martial Arts, Shounen, Super Power)
2. Naruto, (Genre : Action, Comedy, Martial Arts, Shounen, Super Power)
3. Boruto: Naruto the Movie - Naruto ga Hokage ni Natta Hi, (Genre : Action, Comedy, Martial Arts, Shounen, Super Power)
4. Naruto x UT, (Genre : Action, Comedy, Martial Arts, Shounen, Super Power)
5. Naruto: Shippuuden Movie 4 - The Lost Tower, (Genre : Action, Comedy, Martial Arts, Shounen, Super Power)
6. Naruto: Shippuuden Movie 3 - Hi no Ishi wo Tsugu Mono, (Genre : Action, Comedy, Martial Arts, Shounen, Super Power)
7. Naruto Shippuuden: Sunny Side Battle, (Genre : Action, Comedy, Martial Arts, Shounen, Super Power)
8. Porphy no Nagai Tabi, (Genre : Drama, Historical, Kids, Slice of Life)
9. Katekyo Hitman Reborn!, (Genre : Action, Comedy, Shounen, Super Power)
10. Henna Omamesan, (Genre : Comedy, Parody)

## Modelling by Type

In [14]:
cv = CountVectorizer(tokenizer=lambda x:x.split(', ')) # text processing agar memisahkan nama genre yang tepat
by_type = cv.fit_transform(anime['type'])

In [15]:
print(len(cv.get_feature_names()))
print(cv.get_feature_names())

6
['movie', 'music', 'ona', 'ova', 'special', 'tv']

In [16]:
pd.DataFrame(by_type.toarray())

       0  1  2  3  4  5
0      1  0  0  0  0  0
1      0  0  0  0  0  1
2      0  0  0  0  0  1
3      0  0  0  0  0  1
4      0  0  0  0  0  1
...   .. .. .. .. .. ..
12205  0  0  0  1  0  0
12206  0  0  0  1  0  0
12207  0  0  0  1  0  0
12208  0  0  0  1  0  0
12209  1  0  0  0  0  0

[12210 rows x 6 columns]

In [17]:
coScore_anime = cosine_similarity(by_type)

In [18]:
pd.DataFrame(coScore_anime)

,0,1,2,3,4,5,6,7,8,9,...,12200,12201,12202,12203,12204,12205,12206,12207,12208,12209
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12209,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [19]:
anime2 = anime.reset_index()
anime2

,index,anime_id,name,genre,type
0,0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV
...,...,...,...,...,...
12205,12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA
12206,12290,5543,Under World,Hentai,OVA
12207,12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA
12208,12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA
12209,12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie

In [20]:
anime_liked = input('Apa anime yang anda sukai? ')

index_suka = anime2[anime2['name']==anime_liked].index
index_suka[0]

anime_recom = list(enumerate(coScore_anime[index_suka[0]]))

your_recom = sorted(anime_recom, key = lambda x: x[1], reverse=True)

# Showing 5 recommended music based on the input music
recom = []
for i in your_recom[1:11]:
    recom.append(anime2.iloc[i[0],0])

print('Special Pick For You!')
for i in range(len(recom)):
    print('{}. {}, (Type : {})'.format(1+i, anime2.iloc[recom[i], 2],anime2.iloc[recom[i], 4] ))

Apa anime yang anda sukai? One Piece
Special Pick For You!
1. Gintama°, (Type : TV)
2. Steins;Gate, (Type : TV)
3. Gintama&#039;, (Type : TV)
4. Haikyuu!!: Karasuno Koukou VS Shiratorizawa Gakuen Koukou, (Type : TV)
5. Hunter x Hunter (2011), (Type : TV)
6. Gintama&#039;: Enchousen, (Type : TV)
7. Clannad: After Story, (Type : TV)
8. Gintama, (Type : TV)
9. Code Geass: Hangyaku no Lelouch R2, (Type : TV)
10. Haikyuu!! Second Season, (Type : TV)

## Modelling by Genre & Type

In [21]:
anime['Genre&Type'] = anime['genre'].str.cat(anime['type'],sep=",")
anime

,anime_id,name,genre,type,Genre&Type
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,"Drama, Romance, School, Supernatural,Movie"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,"Sci-Fi, Thriller,TV"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,"Action, Comedy, Historical, Parody, Samurai, S..."
...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,"Hentai,OVA"
12290,5543,Under World,Hentai,OVA,"Hentai,OVA"
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,"Hentai,OVA"
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,"Hentai,OVA"
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,"Hentai,Movie"

In [22]:
cv = CountVectorizer(tokenizer=lambda x:x.split(', ')) # text processing agar memisahkan nama genre yang tepat
by_genretype = cv.fit_transform(anime['Genre&Type'])

In [23]:
print(len(cv.get_feature_names()))
print(cv.get_feature_names())

257
['action', 'action,movie', 'action,ona', 'action,ova', 'action,special', 'action,tv', 'adventure', 'adventure,movie', 'adventure,ona', 'adventure,ova', 'adventure,special', 'adventure,tv', 'cars', 'cars,movie', 'cars,ona', 'cars,ova', 'cars,special', 'cars,tv', 'comedy', 'comedy,movie', 'comedy,ona', 'comedy,ova', 'comedy,special', 'comedy,tv', 'dementia', 'dementia,movie', 'dementia,ona', 'dementia,ova', 'dementia,special', 'dementia,tv', 'demons', 'demons,movie', 'demons,ona', 'demons,special', 'drama', 'drama,movie', 'drama,ona', 'drama,ova', 'drama,special', 'drama,tv', 'ecchi', 'ecchi,movie', 'ecchi,ona', 'ecchi,ova', 'ecchi,special', 'ecchi,tv', 'fantasy', 'fantasy,movie', 'fantasy,ona', 'fantasy,ova', 'fantasy,special', 'fantasy,tv', 'game', 'game,movie', 'game,ona', 'game,ova', 'game,special', 'game,tv', 'harem', 'harem,ova', 'harem,special', 'harem,tv', 'hentai', 'hentai,movie', 'hentai,ona', 'hentai,ova', 'hentai,special', 'historical', 'historical,movie', 'historical,ona', 'historical,ova', 'historical,special', 'historical,tv', 'horror', 'horror,movie', 'horror,ona', 'horror,ova', 'horror,special', 'horror,tv', 'josei', 'josei,ova', 'josei,special', 'josei,tv', 'kids', 'kids,movie', 'kids,ona', 'kids,ova', 'kids,special', 'kids,tv', 'magic', 'magic,movie', 'magic,ona', 'magic,ova', 'magic,special', 'magic,tv', 'martial arts', 'martial arts,movie', 'martial arts,ona', 'martial arts,ova', 'martial arts,special', 'martial arts,tv', 'mecha', 'mecha,movie', 'mecha,ona', 'mecha,ova', 'mecha,special', 'mecha,tv', 'military', 'military,movie', 'military,ona', 'military,ova', 'military,special', 'military,tv', 'music', 'music,movie', 'music,music', 'music,ona', 'music,ova', 'music,special', 'music,tv', 'mystery', 'mystery,movie', 'mystery,ona', 'mystery,ova', 'mystery,special', 'mystery,tv', 'parody', 'parody,movie', 'parody,ona', 'parody,ova', 'parody,special', 'parody,tv', 'police', 'police,movie', 'police,ona', 'police,ova', 'police,special', 'police,tv', 'psychological', 'psychological,movie', 'psychological,music', 'psychological,ona', 'psychological,ova', 'psychological,special', 'psychological,tv', 'romance', 'romance,movie', 'romance,music', 'romance,ona', 'romance,ova', 'romance,special', 'romance,tv', 'samurai', 'samurai,movie', 'samurai,music', 'samurai,ona', 'samurai,ova', 'samurai,special', 'samurai,tv', 'school', 'school,movie', 'school,music', 'school,ona', 'school,ova', 'school,special', 'school,tv', 'sci-fi', 'sci-fi,movie', 'sci-fi,music', 'sci-fi,ona', 'sci-fi,ova', 'sci-fi,special', 'sci-fi,tv', 'seinen', 'seinen,movie', 'seinen,music', 'seinen,ona', 'seinen,ova', 'seinen,special', 'seinen,tv', 'shoujo', 'shoujo ai', 'shoujo ai,ona', 'shoujo ai,ova', 'shoujo ai,special', 'shoujo ai,tv', 'shoujo,movie', 'shoujo,music', 'shoujo,ona', 'shoujo,ova', 'shoujo,special', 'shoujo,tv', 'shounen', 'shounen ai', 'shounen ai,movie', 'shounen ai,ova', 'shounen ai,special', 'shounen ai,tv', 'shounen,movie', 'shounen,ona', 'shounen,ova', 'shounen,special', 'shounen,tv', 'slice of life', 'slice of life,movie', 'slice of life,music', 'slice of life,ona', 'slice of life,ova', 'slice of life,special', 'slice of life,tv', 'space', 'space,movie', 'space,music', 'space,ona', 'space,ova', 'space,special', 'space,tv', 'sports', 'sports,movie', 'sports,music', 'sports,ona', 'sports,ova', 'sports,special', 'sports,tv', 'super power', 'super power,movie', 'super power,music', 'super power,ona', 'super power,ova', 'super power,special', 'super power,tv', 'supernatural', 'supernatural,movie', 'supernatural,music', 'supernatural,ona', 'supernatural,ova', 'supernatural,special', 'supernatural,tv', 'thriller', 'thriller,movie', 'thriller,ona', 'thriller,ova', 'thriller,special', 'thriller,tv', 'vampire', 'vampire,movie', 'vampire,music', 'vampire,ona', 'vampire,ova', 'vampire,special', 'vampire,tv', 'yaoi,ona', 'yaoi,ova', 'yaoi,special', 'yuri,ona', 'yuri,ova', 'yuri,special']

In [24]:
pd.DataFrame(by_genretype.toarray())

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12209,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
coScore_anime = cosine_similarity(by_genretype)

In [26]:
pd.DataFrame(coScore_anime)

,0,1,2,3,4,5,6,7,8,9,...,12200,12201,12202,12203,12204,12205,12206,12207,12208,12209
0,1.000000,0.188982,0.000000,0.000000,0.000000,0.447214,0.000000,0.250000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.188982,1.000000,0.285714,0.000000,0.285714,0.169031,0.377964,0.377964,0.142857,0.285714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.285714,1.000000,0.267261,1.000000,0.169031,0.188982,0.188982,0.857143,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.267261,1.000000,0.267261,0.000000,0.000000,0.353553,0.267261,0.267261,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.285714,1.000000,0.267261,1.000000,0.169031,0.188982,0.188982,0.857143,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12206,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12207,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12208,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12209,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [27]:
anime3 = anime.reset_index()
anime3

,index,anime_id,name,genre,type,Genre&Type
0,0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,"Drama, Romance, School, Supernatural,Movie"
1,1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,"Action, Comedy, Historical, Parody, Samurai, S..."
3,3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,"Sci-Fi, Thriller,TV"
4,4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,"Action, Comedy, Historical, Parody, Samurai, S..."
...,...,...,...,...,...,...
12205,12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,"Hentai,OVA"
12206,12290,5543,Under World,Hentai,OVA,"Hentai,OVA"
12207,12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,"Hentai,OVA"
12208,12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,"Hentai,OVA"
12209,12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,"Hentai,Movie"

In [28]:
anime_liked = input('Apa anime yang anda sukai? ')

index_suka = anime3[anime3['name']==anime_liked].index
index_suka[0]

anime_recom = list(enumerate(coScore_anime[index_suka[0]]))

your_recom = sorted(anime_recom, key = lambda x: x[1], reverse=True)

# Showing 5 recommended music based on the input music
recom = []
for i in your_recom[1:11]:
    recom.append(anime3.iloc[i[0],0])

print('Special Pick For You!')
for i in range(len(recom)):
    print('{}. {}, (Genre & Type : {})'.format(1+i, anime3.iloc[recom[i], 2],anime3.iloc[recom[i], 5] ))

Apa anime yang anda sukai? Bleach
Special Pick For You!
1. Yozakura Quartet: Hana no Uta, (Genre & Type : Action, Comedy, Magic, Shounen, Super Power, Supernatural,TV)
2. Dragon Ball Movie 2: Majinjou no Nemuri Hime, (Genre & Type : Action, Adventure, Comedy, Fantasy, Sci-Fi, Shounen, Super Power,Movie)
3. Agatha Christie no Meitantei Poirot to Marple, (Genre & Type : Historical, Mystery,TV)
4. Wakakusa no Yon Shimai, (Genre & Type : Drama, Historical, Slice of Life,TV)
5. Zettai Karen Children, (Genre & Type : Action, Comedy, Shounen, Supernatural,TV)
6. GetBackers, (Genre & Type : Action, Comedy, Drama, Mystery, Shounen, Super Power, Supernatural,TV)
7. Tokyo Ravens, (Genre & Type : Comedy, School, Shounen, Super Power, Supernatural,TV)
8. Bleach Movie 4: Jigoku-hen, (Genre & Type : Action, Comedy, Shounen, Super Power, Supernatural,Movie)
9. Bleach Movie 3: Fade to Black - Kimi no Na wo Yobu, (Genre & Type : Action, Comedy, Shounen, Super Power, Supernatural,Movie)
10. Cuticle Tantei Inaba, (Genre & Type : Action, Comedy, Mystery, Shounen, Supernatural,TV)